In [1]:
import pandas as pd

1

In [9]:
series = pd.Series([4,8,15,16,23,42])

In [7]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

.............................

2

In [11]:
series1 = pd.Series([i for i in range(1,11)])

In [12]:
print(series1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

........................

3

In [18]:
data =  {"Name":["Alice","Bob","Claire"],
       "Age":[25,30,27],
      "Gender":["Female","Male","Female"]}

In [19]:
df = pd.DataFrame(data)

In [22]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

.................

4

A DataFrame is a data structure that organizes data into a 2-dimensional table of rows and columns, much like a spreadsheet.

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type

In [24]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [31]:
b=["gg","ugi","uykf"]
var = pd.DataFrame([a,b])
print(var)

    0    1     2
0   1    7     2
1  gg  ugi  uykf

In [27]:
type(myvar)

pandas.core.series.Series

In [28]:
type(var)

pandas.core.frame.DataFrame

............

5

dropna , fillna etc.

................

6

All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable

...............

7

In [29]:
df2 = pd.DataFrame([series,series1])

In [30]:
print(df2)

     0    1     2     3     4     5    6    7    8     9
0  4.0  8.0  15.0  16.0  23.0  42.0  NaN  NaN  NaN   NaN
1  1.0  2.0   3.0   4.0   5.0   6.0  7.0  8.0  9.0  10.0